.container-options{
  margin-top: 2em;
  text-align: center;
}


.similarArtistsContainer{
  margin: 0 auto;
  text-align: center;
}


.similarArtistsContainer a, .similarTracksContainer a{
  color: red;
  text-decoration: none;
}

.similarArtistsContainer img{
  height: 100px;
  width: 100px;
  border-radius: 5%;
}

.similarTracksContainer{
  margin: 0 auto;
  text-align: center;
}

.similarArtistsBox{
  margin: 1em auto;
  max-width: 300px;
  padding: 2em;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
}

#btn-search-similar-artists, #btn-search-similar-tracks{
  padding: 0.3em;
  background-color: red;
  border-radius: none;
  color: #fff;
  border-color: red;
  cursor: pointer;
}

#search-input, #search-input-showtracks-artist, #search-input-showtracks-track{
  border-style: solid;
  border-color: red;
  padding: 0.3em;
  outline: none;
}

.similarTracksBox{
  margin: 1em auto;
  max-width: 300px;
  padding: 2em;
}

@media (max-width: 500px){

  #similar-tracks-form input{
    margin: 0.5em auto;
    display: block;
  }

  #btn-search-similar-tracks{
    width: 20%;
  }
}